
BODY {
    background: #FFFFFF;
    margin:0px auto;
    text-align:center;

}

a{text-decoration:none;}

#main{
    margin:0px auto;
    width:1205px;
    
}

#ust{
    float:left;
    background-color:#2ca62c;
    width:1200px;
    height:280px;

}

#logo{
    float:left;
    width:1200px;
    height:251px;
    background-image:url(img/bg1.png);
    background-repeat:no-repeat;
}

#logo_left{
    float:left;
    width:220px;
    height:227px;
    margin-left: 50px;
    margin-top: 0px;
    background-image:url(img/logo1.png);
    background-repeat:no-repeat;
}
#logo_right{
    float:left;
    overflow:hidden;
    width:800px;
    height:251px;
}
#logo_text{
    color: #FFFFFF;
    float: left;
    font-size: 28px;
    padding: 65px 1px 15px 45px;
    text-align: left;
    text-transform: uppercase;
    width: 754px;

}

#lang{
    float:left;
    width: 800px;
    color:#FFFFFF;
    height:30px;
    font-family:Tahoma;
    /*padding-right: 500px;*/
    padding-left:40px;
}

#lang ul{
	float:left;
	margin:0px;
    padding:0px;
    clear:both;
}

#lang ul li{
	list-style:none;
	float:left;
	line-height:25px;
	margin-right:5px;
}

#lang ul li  a{
	display:block;
    text-transform: uppercase;
    text-decoration:none;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding:0px 5px;
    width:22px;
}

#lang a:hover{
    background-color:#1373aa;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    

}

#search{
    float:left;
    width: 230px;
    color:#9f9f9f;
    padding: 25px 1px 1px 45px;
}

#search input[type="text"] {
    float:left;
    border:1px solid #1b6012;
    height: 20px;
    width: 143px;
    margin-top: 0;
    font-family:Tahoma;
    padding-left: 7px;
    color:#9f9f9f;
}

#search input[type="image"] {
    float:left;
    margin-top:0px;
    border:1px solid;
    border-top-color:#7caeda;
    border-left-color:#4788c1;
    border-right-color:#0f4473;
    border-bottom-color:#072744;
    margin-left: 5px;
}

#menu_up{
    float:left;
    height:29px;
    width:1200px;
    font-family:Arial;
    font-size:15px;
}

#menu_up ul{
    margin-top:0px;
}
#menu_up ul li{
    float:left;
    text-transform:uppercase;
    list-style:none;
    border-left:1px solid #8bd380;
    height:29px;
    line-height: 26px;
    display:block;

}

#menu_up ul li a{
    text-decoration:none;
    color:#FFFFFF;
    height:29px;
    padding:4px 36px 6px;
}

#menu_up ul li:hover,li a:hover{
    /*display:block;*/
    background-color:#1373aa;
}

#gray{
    float:left;
    height:43px;
    width:1200px;
    background-image:url(img/gray.png);
    background-repeat:repeat-x;
}

#orta{
    float:left;
    width:1200px;
    padding-top: 37px;
    background-image:url("img/gray.png");
    background-repeat:repeat-x;
    background-position:top;
    
}

#sol{
    float:left;
    width:200px;
    margin: 0px 0px 0px 10px;
    /*border:1px solid #0000FF;*/
}

#sol_1{
    float:left;
    width:198px;
    border:1px solid #bfbdb5;
    margin-bottom: 20px;
    background-color:#f8f7f5;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#sol_1 ul{
    margin:0px;
    padding:0px;
}

#sol_1 ul li{
    border-bottom: 1px solid #E8E7E0;
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    list-style:none;
    margin-left: 13px;
    padding-left:5px;
    text-align: left;
    width: 170px;
    border-radius:4px;
       
}

#sol_1 ul li a{
    color:#1373aa;
    display:block;
    background-image:url("img/menu-li.png");
    background-repeat:no-repeat;
    background-position:center left;
    padding-left:18px;
    display:block;
}

#sol_1 ul li a:hover{
    display:block;
    color:#FFFFFF;
	background-image:url("img/menu-li_w.png");
	background-repeat:no-repeat;
	background-position:center left;
    background-color:#2CA62C;
	margin-left:6px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius:4px;
    border-radius-left-top:4px;
	border-radius-bottom-left:4px;
	border-radius-top-right:4px;
	border-radius-right-bottom:4px;
}

#sol_2{
	width:200px;
    float:left;
    margin-bottom: 20px;
    
}

#sol_2_a{ 
	float:left;
	text-align:center;
	margin-top:20px;
	width:200px;
}



/* basliq */
.header{
    float:left;
    width:198px;
    height:29px;
    background-color:#95d8e3;
    line-height:30px;
    font-family:Arial;
    font-size:10pt;
    color:#0a4d73;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:left;
}

.header span{
   padding-left:15px;
}

#sol_2_a img{
    
}
#sol_3{
	width:200px;
    float:left;
    margin-bottom: 20px;
}

#sol_3_a{
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
}

#sol_3_a a{
    color:#00669b;
    font-family:Tahoma;
    text-align:left;
    font-size:12px;
}

#sol_3_a a:hover{text-decoration:underline;}

#content{
    float:left;
    width: 720px;
    margin-left:14px;
    border:1px solid #bfbdb5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
}

#content1{
    float:left;
    width:700px;
    margin: 0 10px;
}
#news_events{
    float:left;
    width:700px;
    color:#1373aa;
    font-family:Arial;
    font-size:20px;
    margin:8px 0px;
    text-align:left;
    padding-bottom: 10px;
    border-bottom:1px solid #d6d6d6;
}

.news{
    float:left;
    width:700px;
    font-family:Arial;
    padding-bottom:15px;
    margin-bottom:10px;
    border-bottom:1px solid #d6d6d6;
}

.news_l{
    float:left;
    width:207px;
    height:148px;
    margin: 0 0 10px 10px;
}
.news_r{
    float:right;
    width: 440px;
    padding:0px 10px;
}
.news_link{
    float:left;
    text-align:justify;
    width: 440px;
}
.news_link a{
    color:#1373aa;
    font-size:12px;
    text-decoration:underline;
}

.news_link a:hover{text-decoration:none;}

.news_text{
    float: left;
    padding-bottom: 10px;
    width: 440px;
    text-align:justify;
}
.news_text span{
    
    font-size:12px;
    font-family:Arial;
}

.other{
	float:left;
	width:440px;
}

.news_more{
	float:left;
	width:81px;
}

.news_more1{
    float:right;
    font-family:Tahoma;
    font-size: 12px;
    height: 21px;
    width: 75px;
    line-height: 19px;
    background-color:#008900;

}
.news_more_img{
    float:left;
    width:6px;
    height:21px;
    background-image:url("img/more.png");
    background-repeat:no-repeat;
    background-position:left;
    background-color:#FFFFFF;
}
.news_more a{color:#FFFFFF;}
.news_date{
    float:right;
    font-size: 12px;
    height: 21px;
    width: 75px;
    line-height: 19px;
    color:#FFFFFF;
    background-color:#525252;
}

#sag{
	padding-bottom:20px;
    float:left;
    width:207px;
    margin-left: 14px;
}

#header{
	width:207px;
}

.r_news{
	width:207px;
	float:left;
}
.r_news img{
	float:left;
	padding:10px 0px 0px;
}
.text{
    font-family:Arial;
    font-size: 12px;
    float:left;
    padding: 0px 5px;
    text-align:justify;
    border-bottom:1px solid #d6d6d6;
}

.text p{margin:0px;padding:10px 0px;}
.text a{color:#1373aa;text-decoration:underline;}
.text a:hover{text-decoration:none;}


#archive{
	float: left;
    margin-bottom: 10px;
    padding: 0px 10px 5px 10px;
    text-align: left;
    width: 680px;
}
#archive a{
	color: #00669B;
    line-height: 30px;
    padding-left: 10px;
    text-decoration: underline;
}

#archive a:hover{text-decoration:none;}

#archive img{padding-top:5px;}

#arch_pic{float:left;}

#alt{
    float:left;
    width:1200px;
    height: 94px;
    margin-top: -14px;
}

#alt_ust{
    float:left;
    width:1154px;
    height:69px;
    background-image:url("img/hand.png");
    background-position:right bottom;
    background-repeat:no-repeat;
}

#alt_alt{
    margin:0px auto;
    padding-top:0px;
    width:1200px;
    height:25px;
}
#alt_l{
    float:left;
    width:4px;
    height:25px;
    background-image:url("img/foot-left.png");

}
#alt_o{
    float:left;
    width:1192px;
    height:25px;
    background-color:#00bc00;
}

#alt_o span{
    float: left;
    color:#FFFFFF;
    font-family:Tahoma;
    font-size: 12px;
    line-height: 24px;
    padding-left: 10px;
}

#alt_r{
    float:left;
    width:4px;
    height:25px;
    background-image:url("img/foot-right.png");
}